{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer"
    ],
    [
      "@semantic-release/release-notes-generator"
    ],
    [
      "@semantic-release/changelog"
    ],
    [
      "@semantic-release/npm"
    ],
    [
      "@semantic-release/git"
    ],
    [
      "@semantic-release/github"
    ]
  ],
  "repositoryUrl": "git@github.com:tw050x/webframe.git"
}
